<div class="container-fluid">
<div id="breadcrumb" class="col-lg-12">
</div>
<div id="search-bar">
    <div class="input-group col-lg-12">
        <input type="text" name="query" id="query" ng-model="query" class="search-query form-control" placeholder="Buscar" />
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button" ng-click="search()">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>

<!-- left -->
<div class="col-lg-3">
	<div class="panel panel-primary" ng-repeat="facet in data.facets">
		<div class="panel-heading">
			{{facet.name}}
		</div>
		<div class="panel-body">
		<div ng-repeat="option in facet.options" ng-class="'facet-' + facet.id + '-item'" class="btn btn-default btn-block {{option.isSelected ? 'active' : ''}}" ng-click="filter(facet['id'], option['id'])">{{option.name}}</div>
		</div>
	</div>
</div>

<!-- right -->
<div class="col-lg-9">
	<div class="">
		<div ng-repeat="result in data.results" class="panel panel-primary result-item">
			<div class="result-title panel-heading">
				{{result.title}}
			</div>
	        <div class="panel-body">
				<h3 class="result-author">
					{{result.author}}
				</h3>
				<h4 class="result-journal">
					{{result.journal}}
				</h4>
				<div class="result-abstract text-justify">
					{{result.abstract}}
				</div>
				<div>
				<br/>
				<button type="button" ui-sref="view({id: result.id})" class="btn btn-primary">Ler Mais</button>
				</div>
			</div>
		</div>
	</div>
	<div id="pagination" class="col-lg-12 text-center">
		<nav>
		  <ul class="pagination">
		    <li class="page-item">
		      <span class="page-link previous-page" href="#" aria-label="Anterior">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only" ng-click="changePage(page + 1)">Anterior</span>
		      </span>
		    </li>
		    
		    <li ng-repeat="page in pagination.pages" class="page-item" 
		    	ng-class="{'page-item': true, 'active': page.current}">
		    	<span class="page-link" href="#" ng-click="changePage(page.name)">{{page.name}}</span>
		    </li>

		    <li class="page-item">
		      <span class="page-link next-page" href="#" aria-label="Next" ng-click="changePage(page + 1)">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </span>
		    </li>
		  </ul>
		</nav>
	</div>
</div>

</div>