<div class="container-fluid">
<div class="col-lg-12">
	<div class="panel panel-primary result-item">
		<div class="data-title panel-heading">
			{{data.title}}
		</div>
        <div class="panel-body">
			<h3 class="data-author">
				{{data.author}}
			</h3>
			<h4 class="result-journal">
				{{data.journal}}
			</h4>
			<div class="result-abstract text-justify">
				{{data.abstract}}
			</div>
			<div class="result-content text-justify">
				{{data.content}}
			</div>
			<div>
			<br/>
			<button type="button" ui-sref="home" class="btn btn-primary">Voltar</button>
			</div>
		</div>
	</div>
</div>
</div>