/*======================================================================
=            Import all your .scss files, order is very important

	(The file which is not imported will not be include in final build )

	CSS - All the css files will be loaded in the order they appear 
		in the app/css directory
========================================================================*/
/*
  To use bootstrap-sass-official run:
  bower install --save bootstrap-sass-official

  Then uncomment the two lines below:
*/
.simple-form{
   margin: 20px;
}

.form-group .help-block {
  display: none;
}
 
.form-group.has-error .help-block {
  display: block;
}